.survey {
    display: none
}


.survey-card {
    display: flex;
    margin-top: 1.5rem;
    border: 1px solid black;
}
.surveys-filter-buttons .guest{
    color: var(--color-text-dark);
    background-color: var(--color-button-background-alt);
}
.surveys-filter-buttons .assistant{
    color: var(--color-text-dark);
    background-color: var(--color-button-background-alt);
}
 button.button-filter:hover, .surveys-filter-buttons .active {
    /* Color */
    color: var(--color-button-text);
    background-color: var(--color-button-background);
  }
