.single-response{
    line-height: 0.25rem;
    margin: 15px 15px 30px 15px;
}

.responses-container{
    border: 2px solid rgba(132, 132, 132, 0.5);
    border-radius: 5px;
    width: 65%;
    margin: 20px;
    background: white;
}

.responses-guest{
    display: flex;
}

.responses-guest .responses-img img{
    height: 90px;
    width: 75px;
    margin: 25px 15px 25px 30px;
}

.responses-info{
    text-align: left;
    height: 85px;
    line-height:0.50rem; 
    margin-top: 25px;

}
.responses-answers{
    text-align: left;
    margin: 15px;
}

.sr-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sr-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:65%;
}

.sr-title h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.75rem;
    color: #393534;
}

.sr-title select{
    font-size: 1rem;
}

.select{
    background: rgba(134, 191, 241, 0.863);
}